# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

service sec_diag_uart_log /system/bin/sec_diag_uart_log
    class main
    user root
    group radio oem_2901

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw

service atfwd /vendor/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

on property:ril.restart.netmgrd=true
    stop netmgrd
    setprop sys.control.netmgr stopped

on property:init.svc.netmgrd=stopped
    start netmgrd
    setprop sys.control.netmgr started

on property:sys.control.netmgr=started
    setprop ril.restart.netmgrd false
    setprop sys.control.netmgr done

on property:init.svc.netmgrd=restarting
    setprop sys.control.netmgr restarted

# Avoid running ril-daemon2/3 service on qualcomm model
on property:init.svc.ril-daemon2=running
    stop ril-daemon2

on property:init.svc.ril-daemon3=running
    stop ril-daemon3
