on init
    # Permissions for Camera
    chown cameraserver cameraserver /sys/kernel/mm/vmscan/mem_boost_mode
    chown system system /sys/class/camera/rear/rear_camfw
    chown system system /sys/class/camera/rear/rear_camfw_full
    chown system system /sys/class/camera/rear/rear_camfw_load
    chown system system /sys/class/camera/rear/rear_camtype
    chown system system /sys/class/camera/rear/rear_companionfw_full
    chown system system /sys/class/camera/rear/rear_calcheck
    chown system system /sys/class/camera/rear/rear_fwcheck
    chown system system /sys/class/camera/rear/rear_checkfw_user
    chown system system /sys/class/camera/rear/rear_checkfw_factory
    chown system system /sys/class/camera/rear/rear_moduleinfo
    chown system system /sys/class/camera/rear/rear_afcal
    chown system system /sys/class/camera/rear/isp_core
    chown system system /sys/class/camera/rear/rear_caminfo
    chown system system /sys/class/camera/rear/rear_sensorid_exif
    chown system system /sys/class/camera/rear/rear_moduleid
    chown system system /sys/class/camera/rear/companion_ic_check
    chown system system /sys/class/camera/rear/rear_mtf_exif
    chown system system /sys/class/camera/rear/rear_dualcal
    chown system system /sys/class/camera/rear/rear_dualcal_size
    chown system system /sys/class/camera/rear/rear2_camfw
    chown system system /sys/class/camera/rear/rear2_camfw_full
    chown system system /sys/class/camera/rear/rear2_checkfw_user
    chown system system /sys/class/camera/rear/rear2_checkfw_factory   
    chown system system /sys/class/camera/rear/rear2_caminfo
    chown system system /sys/class/camera/rear/rear2_afcal
    chown system system /sys/class/camera/rear/rear2_camtype
    chown system system /sys/class/camera/rear/rear2_mtf_exif
    chown system system /sys/class/camera/rear/rear2_sensorid_exif
    chown system system /sys/class/camera/rear/rear2_tilt
    chown system system /sys/class/camera/rear/rear_hwparam
    chown system system /sys/class/camera/rear/ssrm_camera_info
    chown system system /sys/class/camera/flash/rear_flash
    chown system system /sys/class/camera/flash/rear_flash_2
    chown system system /sys/class/camera/flash/front_flash
    chown system system /sys/class/camera/flash/front_flash_2
    chown system system /sys/class/camera/flash/rear_vendorid
    chown system system /sys/class/camera/front/front_camfw
    chown system system /sys/class/camera/front/front_camtype
    chown system system /sys/class/camera/front/front_caminfo
    chown system system /sys/class/camera/front/front_camfw_full
    chown system system /sys/class/camera/front/front_camfw_load
    chown system system /sys/class/camera/front/front_checkfw_user
    chown system system /sys/class/camera/front/front_checkfw_factory
    chown system system /sys/class/camera/front/front_moduleinfo
    chown system system /sys/class/camera/front/front_afcal
    chown system system /sys/class/camera/front/front_sensorid_exif
    chown system system /sys/class/camera/front/front_moduleid
    chown system system /sys/class/camera/front/front_mtf_exif
    chown system system /sys/class/camera/front/front_hwparam
    chown system system /sys/class/camera/front/front_dualcal
    chown system system /sys/class/camera/front/front_dualcal_size
    chown system system /sys/class/camera/front/front2_camfw
    chown system system /sys/class/camera/front/front2_camfw_full
    chown system system /sys/class/camera/front/front2_checkfw_user
    chown system system /sys/class/camera/front/front2_checkfw_factory
    chown system system /sys/class/camera/front/front2_caminfo
    chown system system /sys/class/camera/front/front2_afcal
    chown system system /sys/class/camera/front/front2_camtype
    chown system system /sys/class/camera/front/front2_mtf_exif
    chown system system /sys/class/camera/front/front2_sensorid_exif
    chown system system /sys/class/camera/front/front2_tilt
    chown system system /sys/class/camera/ois/selftest
    chown system system /sys/class/camera/ois/ois_power
    chown system system /sys/class/camera/ois/ois_rawdata
    chown system system /sys/class/camera/ois/oisfw
    chown system system /sys/class/camera/ois/ois_diff
    chown system system /sys/class/camera/ois/ois_exif
    chown system system /sys/class/camera/ois/autotest
    chown system system /sys/class/camera/ois/autotest_2nd
    chown system system /sys/class/camera/ois/load_fw
    chown system system /sys/class/camera/secure/iris_camfw
    chown system system /sys/class/camera/secure/iris_camfw_full
    chown system system /sys/class/camera/secure/iris_checkfw_factory
    chown system system /sys/class/camera/secure/iris_checkfw_user
    chown system system /sys/class/camera/secure/iris_caminfo
    chown system system /sys/class/camera/secure/iris_hwparam

on boot
# Permissions for Display
    # Auto Brightness
    chown system system /sys/class/backlight/panel/brightness
    chmod 0660 /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chmod 0660 /sys/class/backlight/panel/auto_brightness
    chown system system /sys/class/backlight/panel/auto_brightness_level
    chmod 0660 /sys/class/backlight/panel/auto_brightness_level

    # adaptive control
    chown system system /sys/class/lcd/panel/adaptive_control
    chmod 0660 /sys/class/lcd/panel/adaptive_control

    # AOD(Always On Display)
    chown system system /sys/class/lcd/panel/alpm
    chmod 0660 /sys/class/lcd/panel/alpm

    # HMT
    chown system system /sys/class/lcd/panel/hmt_on
    chmod 0660 /sys/class/lcd/panel/hmt_on
    chown system system /sys/class/lcd/panel/hmt_bright
    chmod 0660 /sys/class/lcd/panel/hmt_bright
    chown system system /sys/class/mdnie/mdnie/hmt_color_temperature
    chmod 0660 /sys/class/mdnie/mdnie/hmt_color_temperature
    chown system system /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0660 /sys/class/graphics/fb0/msm_cmd_autorefresh_en

    # IRC
    chown system system /sys/class/lcd/panel/irc
    chmod 0660 /sys/class/lcd/panel/irc

    # X-Talk
    chown system system /sys/class/lcd/panel/xtalk_mode
    chmod 0660 /sys/class/lcd/panel/xtalk_mode

    # DDI H/W Cursor
    chown system system /sys/class/lcd/panel/hw_cursor
    chmod 0660 /sys/class/lcd/panel/hw_cursor

    # Brightness Table
    chown system system /sys/class/lcd/panel/brightness_table
    chmod 0660 /sys/class/lcd/panel/brightness_table

    # LCD mdnie and panel work
    chown system system  /sys/class/mdnie/mdnie/lcdtype
    chown system system  /sys/class/mdnie/mdnie/lcd_power
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario

    chown system system /sys/class/mdnie/mdnie/tuning
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system  /sys/class/mdnie/mdnie/mdnie_temp
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/negative
    chown system media_rw /sys/class/mdnie/mdnie/playspeed
    chown system media_rw /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass
    chown system media_rw /sys/class/mdnie/mdnie/sensorRGB
    chmod 0660 /sys/class/mdnie/mdnie/sensorRGB
    chown system media_rw /sys/class/mdnie/mdnie/mdnie_ldu
    chmod 0660 /sys/class/mdnie/mdnie/mdnie_ldu
    chown system media_rw /sys/class/mdnie/mdnie/night_mode
    chmod 0660 /sys/class/mdnie/mdnie/night_mode
    chown system media_rw /sys/class/mdnie/mdnie/hdr
    chmod 0660 /sys/class/mdnie/mdnie/hdr
    chown system media_rw /sys/class/mdnie/mdnie/whiteRGB
    chmod 0660 /sys/class/mdnie/mdnie/whiteRGB
    chown system system /sys/class/mdnie/mdnie/light_notification
    chmod 0660 /sys/class/mdnie/mdnie/light_notification
    chown system system /sys/class/mdnie/mdnie/color_lens
    chmod 0660 /sys/class/mdnie/mdnie/color_lens

    chown system system /sys/class/lcd/panel/window_type
    chown system system /sys/class/lcd/panel/read_copr
    chown radio system /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/lcd/panel/temperature
    chown radio system /sys/class/lcd/panel/tuning
    chown radio system /sys/class/lcd/panel/lux

    chown radio system /sys/class/lcd/panel/partial_disp
    chmod 0660 /sys/class/lcd/panel/partial_disp

    chown radio system /sys/class/lcd/panel/cover_control
    chmod 0660 /sys/class/lcd/panel/cover_control

    chown system system /sys/class/lcd/panel/ldu_correction
    chmod 0660 /sys/class/lcd/panel/ldu_correction

    chown system system /sys/class/lcd/panel/dpui
    chown system system /sys/class/lcd/panel/dpui_dbg

    # LCD DYNAMIC FPS USE TE
    chown system system /sys/class/lcd/panel/dynamic_fps_use_te
    chmod 0660 /sys/class/lcd/panel/dynamic_fps_use_te

    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0660 /sys/class/leds/lcd-backlight/brightness

    # Accelerometer Sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
    chown system system /sys/class/sensors/accelerometer_sensor/dhr_sensor_info

    # Gyro Sensor
    chown system radio /sys/class/sensors/gyro_sensor/name
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/selftest_revised
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system media /sys/class/sensors/gyro_sensor/temperature

    # Magnetic Sensor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/adc
    chown system radio /sys/class/sensors/magnetic_sensor/asa
    chown system radio /sys/class/sensors/magnetic_sensor/dac
    chown system radio /sys/class/sensors/magnetic_sensor/chk_registers
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system system /sys/class/sensors/magnetic_sensor/dhr_sensor_info

    # Proximity Sensor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_alert_thresh
    chown system system /sys/class/sensors/proximity_sensor/dhr_sensor_info
